<div class="home">
    <div class="banner"><img src="../../../assets/images/main-banner-1.jpg"></div>
    <div class="service row">
        <div class="col-md-3 info">
            <a href="#"><i class="fa fa-dollar fa-2x"></i></a><br>
            <b>Giá Chỉ Từ 35K</b><br>
            <i>Sản phẩm chất lượng. Giá cả hợp lý. Rẻ nhất thị trường</i><br>
        </div>
        <div class="col-md-3 info">
            <a href="#"><i class="fa fa-truck fa-2x"></i></a><br>
            <b>Free Ship 150k</b><br>
            <i>Miễn phí vận chuyển nội thành. Giao hàng trong vòng 1h</i><br>
        </div>
        <div class="col-md-3 info">
            <a href="#"><i class="fa fa-credit-card fa-2x"></i></a><br>
            <b>Trả Góp 0%</b><br>
            <i>Hỗ trợ trả góp với lãi xuất 0% thông qua thẻ tín dụng</i><br>
        </div>
        <div class="col-md-3 info">
            <a href="#"><i class="fa fa-undo fa-2x"></i></a><br>
            <b>Hoàn Tiền Trong 24h</b><br>
            <i>Đổi trả sản phẩm nhanh chóng. Hoàn tiền trong vòng 24h</i><br>
        </div>
    </div>
    <div class="header-label">
        <i>Sản Phẩm Mới</i>
    </div>
    <div class="new-product row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6 sm-banner"><img src="../../../assets/images/banner1.jpg"></div>
                <div class="col-md-6 sm-banner"><img src="../../../assets/images/banner2.jpg"></div>
            </div>
            <br>
            <div class="lg-banner"><img src="../../../assets/images/banner3.jpg"></div>
        </div>
        <div class="col-md-6">
            <div class="lg-banner"><img src="../../../assets/images/banner4.jpg"></div>
            <br>
            <div class="row">
                <div class="col-md-6 sm-banner"><img src="../../../assets/images/banner5.jpg"></div>
                <div class="col-md-6 sm-banner"><img src="../../../assets/images/banner6.jpg"></div>
            </div>
        </div>
    </div>
</div>